version: '3.1'

services:
  server:
    build: ./server
    restart: always
    environment:
        PORT: 80

  proxy:
    image: nginx
    restart: always
    volumes:
      - ./nginx/conf.d:/etc/nginx/conf.d
      - ./nginx/log:/var/log/nginx
      - ./web:/var/web
    ports:
      - 80:80
      - 443:443
    links:
      - rserver
    depends_on:
      - rserver
  
